// Place all the styles related to the Schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.bg_admin{
    background-color: #517467;
}

.bg_student{
    background-color: #90bfe7;
}

.image{
    height: 100%;
    background-size: cover;
    background-image: url(school.jpg);
}